img {
  height: 180px;
  width: 180px;
}

h1 {
font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("img2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

#img2 {
  height: 200px;
  width: 1200px;
}

#overlay {
    color: white;
    position: absolute;
    z-index:100;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#footer {
  height: 100px;
  width: 900px;
}

#facebookad {
  height: 300px;
  width: 200px;
}

span {
  font-family: 'Roboto', sans-serif;
}

#calendar {
  height: 300px;
  width: 300px;
}
nav {
 font-family: 'Roboto', sans-serif;
 text-decoration: none;
}

.teenempowerment{
  height: 1000px;
  width: 900px;
  display: block;
  margin: auto;
}

#overlay2 {
    color: white;
    position: absolute;
    z-index:100;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

    font-size: 10px;
    line-height: 20px;
    width: 15%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}
